<nav class="py-1 bg-body-tertiary border-bottom social-bar">
  <div class="container d-flex flex-wrap align-items-center justify-content-center">
    <ul class="nav me-auto">
      <li class="nav-item"><i class="bi bi-telephone-fill"> (054)222191</i></li>
      <li class="nav-item"><i class="bi bi-whatsapp"> 932408576</i></li>
    </ul>
    <ul class="nav">
      <li class="nav-item"><i class="bi bi-youtube"></i></li>
      <li class="nav-item"><i class="bi bi-instagram"></i></li>
      <li class="nav-item"><i class="bi bi-facebook"></i></li>
      <li class="nav-item py-2 py-lg-1 col-12 col-lg-auto">
        <div class="vr d-none d-lg-flex h-100 mx-lg-2 text-white"></div>
        <hr class="d-lg-none my-2 text-white-50">
      </li>
      <li class="nav-item"><i class="bi bi-lock-fill"></i></li>
    </ul>
  </div>
</nav>
<header class="p-3">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <img _ngcontent-xxh-c34="" width="40" height="40" alt="icono" src="assets/claretianos.ico" class="bi me-2">
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 text-white">Inicio</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Nosotros</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Horarios</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Servicios</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Galeria</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Contáctanos</a></li>
      </ul>
      <div class="text-end">
        <button type="button" class="btn btn-warning">Reservar</button>
      </div>
    </div>
  </div>
</header>

